.layout {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: var(--header-height) 1fr var(--statusbar-height);
  grid-template-areas:
    'header header'
    'sidebar content'
    'statusbar statusbar';
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.content {
  grid-area: content;
  overflow: auto;
  padding: var(--spacing-lg);
  background-color: var(--color-background);
}
